In [3]:
import seaborn as sns
import pandas as pd
import numpy as np
a = pd.read_csv("E:/数据集合集/seaborn-data/anscombe.csv")
print(a.info())
print(a.describe())
print("DataFrame的数据个数为：",a.count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dataset  44 non-null     object
 1   x        44 non-null     float64
 2   y        44 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.2+ KB
None
               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000
DataFrame的数据个数为： dataset    44
x          44
y          44
dtype: int64

In [5]:
arr=np.arange(0,24).reshape(4,6)
df1=pd.DataFrame(arr,index=["我","爱","南","京"],columns=["草","东","没","有","派","对"])
df1

    草   东   没   有   派   对
我   0   1   2   3   4   5
爱   6   7   8   9  10  11
南  12  13  14  15  16  17
京  18  19  20  21  22  23

In [18]:
left = pd.DataFrame({"key": ["foo","bar","A"], "lval":[1, 2,3]})
right = pd.DataFrame({"key": ["foo","bar","B"],"rval": [4, 5,6]})
print("left为：",left)
print("right为：",right)

left为：    key  lval
0  foo     1
1  bar     2
2    A     3
right为：    key  rval
0  foo     4
1  bar     5
2    B     6

In [17]:
a=pd.merge(left,right)
b=pd.merge(left,right,on="key")